.container{
  width: 100vw;
  height: 70vh;
  color: rgb(0, 0, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15rem;
}

a{
  text-decoration: none;
  font-size: 1.5rem;
}